<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle commande de <% @user.email %></h1>
    <p>
     Pour un total de <%=@user.order.last.cart.total_price %>
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur cateyes.fr !
  </body>
</html>