<header id="headerwrap" class="backstretched fullheight">
    <div class="container vertical-center">
        <div class="intro-text vertical-center text-center smoothie">

            <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.4s">Cat's <span class="rotate">Eyes, Pictures, Secrets</span></div>
            
        </div>
    </div>
</header>
