
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cat's Eyes</title>
  </head>

  <body>

<div class = "jumbotron text-center">
    <h1>Cat's Eyes</h1>
    <h2>Tout ce que dont vous rêvez à propos des chats</h2>
</div

<div class="">
    <%= render 'items'%>
</div>


  </body>

</html>
